<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Home page</title>
</head>
<body>
    <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/profil">profil</a></li>
        </ul>
      </nav>
    <h1>THIS IS THE HOME PAGE</h1>
    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum atque nulla, possimus quis hic expedita officiis corporis, vitae blanditiis qui soluta illo quaerat impedit corrupti, voluptates repellat consectetur sed. Illo officia in accusamus ut vero fugiat numquam aliquid assumenda placeat culpa mollitia minima perferendis, quo corporis sequi et? Explicabo, eaque!</P>
    <img src="https://www.shutterstock.com/shutterstock/photos/1146069941/display_1500/stock-vector-welcome-poster-with-spectrum-brush-strokes-on-white-background-colorful-gradient-brush-design-1146069941.jpg" alt="">
</body>
</html>